@import url('https://fonts.googleapis.com/css?family=Playfair+Display+SC:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Cambay:400,700&display=swap');

:root {
    --main-color: #1f4c14;
    font-family: 'Playfair Display SC';
}

body {
    background-color: #dbffbb;
    max-width: 980px;
    margin: auto;
}

main {
    display: flex;
    flex-direction: column;
    margin: 20px 0;
}


.logo {
    font-size: 5rem;
    text-transform: uppercase;
    text-align: center;
    color: var(--main-color);
    font-family: 'Playfair Display SC', bold;
}

.under-logo {
    font-size: 2rem;
    text-transform: uppercase;
    text-align: center;
    color: var(--main-color);
    font-family: 'Playfair Display SC';
    margin: auto;
    padding: 0;
}

h1, h2, p, section, header, main,
footer {
    margin: 0;
    padding: 0;
}

header nav .menu {
    display: flex;
    flex: 0;
    padding: 0;
    list-style-type: none;
    justify-content: space-around;
    background: #cbfa86;
    margin: 15px auto;
}

header nav .menu a {
  display: flex;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--main-color);
  float: left;
  border: 1px solid #91d855;
  background: #cbfa86;
  padding: 1ex 12ex;
}

header nav .menu a:hover {
    background: #91d855;
    }

header nav p {
    font-size: 35px;
    display: flex;
    text-align: center;
    color: var(--main-color);
    font-family: 'Playfair Display SC', bold;
    margin: auto;
}

 @media screen and (min-width: 320px) {
  nav img {
    display: flex;
    align-items: center;
    width: 100%;
    margin: 0;
    padding: 0;
  }
}

.goup {
	position: fixed;
	right: 50px;
	bottom: 50px;
    width: 50px;
    height: 50px;
    border-color: transparent;
    border-radius: 50%;
    background-color: #91d855;
}

.goup:hover,
.goup:focus {
    filter: brightness(1.5);
    outline: none;
}

.goup::before,
.goup::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.goup::before {
    width: 5px;
    height: 25px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background-color: #dbffbb;
}

.goup::after {
    width: 15px;
    height: 15px;
    transform: translate(-50%, -50%) rotate(45deg);
    border-top: 5px solid #fff;
    border-left: 5px solid #fff;
}

.headsection {
    font-size: 3.5rem;
    text-transform: uppercase;
    text-align: center;
    color: var(--main-color);
    font-family: 'Playfair Display SC', bold;
    margin: 1ex;
    margin-top: 4ex;
    padding: 0;
}

.box {
    float: right; 
    border: transparent;
    border-radius: 30px 30px 30px 30px;
    padding: 0;
    margin: 25px 50px 0 0;
    background: #fff;
   }

.box a {
    text-decoration: none;
}

.box:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
   
.box p  {
    font-family: 'Cambay', sans-serif;
    background-color: #fff;
    font-size: 20px;
    width: 200px;
    height: 200px;
    padding: 0;
    margin: 0 auto;
   }

.box img {
    border-radius: 30px 30px 0px 0px;
    max-width: 250px;
    max-height: 250px;
}

#contacts {
    display: flex;
    flex-direction: row;
    margin: 20px auto;
}


.formImg {
    max-width: 409px;
    margin: 0 40.5px;
    border-radius: 30px 0 0 30px;
}

input[type=textName] {
    width: 409px;
    height: 81px;
    border: none;
    border-radius: 0 30px 0 0;
    margin: 0 11.5px;
}

input[type=textAddress] {
    width: 409px;
    height: 81px;
    border: none;
    border-radius: 0;
    margin: 11.5px;
}

input[type=textMessage] {
    width: 409px;
    height: 125px;
    border: none;
    border-radius: 0;
    margin: 11.5px; 
}

input::placeholder{
    font-size: 20px;
    font-family: 'Cambay';
}

input:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

button {
    border-style outset;
    width: 409px;
    height: 81px;
    background-color: #cecece;
    border: none;
    border-radius: 0 0 30px 0;
    margin: 0 11.5px;
}

button:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 1ex;
    margin-bottom: 10ex;
}

.footer a img {
    max-width: 100px;
    max-height: 100px;
}

.clock {
    color: #1f4c14;
    font-size: 40px;
    font-family: 'Playfair Display SC', bold;
}